html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", "san-serif";
  font-size: 14px;
}

body div,
body dl,
body dt,
body dd,
body ul,
body ol,
body li,
body h1,
body h2,
body h3,
body h4,
body h5,
body form,
body fieldset,
body p,
body button,
body input {
  margin: 0;
  padding: 0;
}

body ul,
body li {
  list-style: none;
}

body a {
  text-decoration: none;
  color: #222;
}

body a:hover {
  cursor: none;
}

body .clearFix::after {
  content: "";
  display: block;
  clear: both;
}
