@charset "UTF-8";
html {
  overflow-y: scroll;
  font-size: 13px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", "san-serif";
  font-size: 14px;
  color: #222;
  cursor: none;
}

body div,
body dl,
body dt,
body dd,
body ul,
body ol,
body li,
body h1,
body h2,
body h3,
body h4,
body h5,
body form,
body fieldset,
body p,
body button,
body input {
  margin: 0;
  padding: 0;
}

body ul,
body li {
  list-style: none;
}

body a {
  text-decoration: none;
  color: #222;
}

body .clearFix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e9ecef;
  padding: 0 24px;
  --color-texta: #1d1d1d;
  --color-textb: #fff;
  /* 점선이 들어갈 ::after(pseudo)요소 만들고 크기값 설정해주기*/
  /* hover된 링크의 글자 색상 정의(하얀색)*/
  /* .hovered-link 선택자명은 추후 JS로 추가할 예정!*/
  /* .gnb li a:hover::after의 svg에 배경이미지 지정!*/
}

header h1 {
  font-size: 24px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  padding: 0 8px;
}

header nav ul li:first-child {
  padding: 0;
}

header .cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--color-texta);
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-backdrop-filter: sepia(20%);
          backdrop-filter: sepia(20%);
  background-size: cover;
}

header .cursor-glow {
  -webkit-transform: scale(2);
          transform: scale(2);
  background-color: var(--color-texta);
}

header .gnb li a:hover::after {
  width: calc(100% - 2rem);
  height: 3px;
  background-size: contain;
  /* 배경 이미지(svg)가 알맞게 들어가도록*/
}

header .hovered-link {
  color: var(--color-textb) !important;
}

header .hovered-link::after {
  background-image: url("../img/mouse-circle.svg");
}
