@import '../base/reset';
@import '../helper/animation';
@import '../helper/variables';
@import '../helper/class';
@import '../helper/mobile';
@import '../layout/flexbox';


.logo {
    width: 200px;
    height: 100px;
    background: url('../images/cocacola/logo/logo_coke_w.png') center center no-repeat;
    background-size: contain;
    overflow: hidden;
}

.ttl-xl {
    text-align: center;
    padding: 1rem 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px $gray9;
    background-color: $cocaMain;
}

.intro-container {
    padding: 2rem 0;
    background: url('../images/cocacola/bg/top_bg.png') top center no-repeat;
    background-size: cover;

    .ttl-xl { color: $gray1; }
}

.intro-list {
    width: 80%;
    margin: 0 auto;

    li {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        margin: 8px;
        box-shadow: 1px 1px 8px $gray9;
        transition: all 1s;

        &:hover { animation: shake infinite 0.1s alternate; }
    }

    .ttl-md {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        color: $gray1;
        padding: 1rem;
        word-break: keep-all;
    }
}

.goods-container { padding: 2rem; }

.goods-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.goods-wrap { 
    margin: 2vw 1.5vw; 
    box-shadow: none;
    border: 2px solid $gray2;
}

.info-box {
    padding: 2rem;
    background-color : $gray1;

    .goods-name {
        line-height: 1.6em;
        min-height: 3.2em;
        max-height: 3.2em;
        text-overflow: clip;
        overflow: hidden;
    }
    .price-wrap { 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1rem; 
        min-height: 3.2em;
    }
    .discount {
        color: $red7;
        font-size: 1.2rem;
        font-weight : bold;
    }
    .price {
        font-size: 1.2rem;
        margin: 0 0.2rem;
    }
    .pre-price {
        color: $gray5;
        text-decoration: line-through;
        font-size: 1rem;
    }
    @include allMobile {
        padding: 1rem;
    }
}

.brand-swiper {
    background : url('../images/cocacola/bg/cokemix_bg.png') top center no-repeat;
    background-size : cover;
    margin: 2rem 0;
    overflow: hidden;
    li {
        width: 15vw;
        border-radius: 8px;
        overflow: hidden;
        margin: 2vw;
    }
}
