// Import Scss
@import "variable.scss";
@import "common.scss";

// Index
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: $mainBg;
  padding: 0 24px;

  h1 {
    font-size: 24px;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        padding-left: 12px;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

