@import "common.scss";
@import "variable.scss";
@import "mixin.scss";

// header
header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 72px;
  padding: 16px 40px;
  background-color: $red;

  .top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    background: url(../img/logo_coke_w.png) center center no-repeat;
    background-size: contain;
    display: inline-block;
    width: 120px;
    height: auto;
    vertical-align: middle;
  }
  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        margin-left: 20px;
        a {
          color: $white;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
// box-continaer
.box-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  .box-container {
    width: 100%;
    height: 50%;
    padding: 32px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px $gray-1;
    overflow: hidden;
    & + .box-container {
      margin-left: 3%;
    }
  }
}

.main-title {
  font-size: 32px;
  color: $black;
  text-align: center;
  padding: 24px 0;
}
// content
#content-1 {
  // shake animation
  @keyframes shake {
    from {
      transform: rotate(3deg);
    }
    to {
      transform-origin: center;
      transform: rotate(-3deg);
    }
  }
  width: 100%;
  height: 100vh;
  padding: 0 5vw;
  background: url(../img/hero_bg.png) center center no-repeat;
  background-size: contain;
  background-position: top;

  // product-wrap
  .product-wrap {
    .main-title {
      color: $white;
    }
    .product-list {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 12px;
      li {
        position: relative;
        box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        margin: 2px 2px 2px 0;
        & + li {
          margin-left: 3%;
        }
        // hover 시 이벤트
        &.hover {
          animation: shake 0.1s ease-in-out 0.1s infinite alternate;

          .product-title {
            background-color: rgba(173, 181, 189, 0.5);
            border-radius: 10px 10px 0 0;
            transition: all 0.3s ease-in;
            p {
              opacity: 1;
              transition: all 0.3s ease-in;
            }
          }
        }
        .img-wrap {
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
        .product-title {
          position: absolute;
          top: 0;
          z-index: 3;
          display: block;
          width: 100%;
          padding: 12px 0;
          text-align: center;

          p {
            opacity: 0;
            color: $white;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
          }
        }
      }
    }
  }

  // brand-wrap
  .brand-wrap {
    margin: 0 -5vw;
    .brand-list {
      display: flex;
      li {
        margin-left: 12px;
        img {
          border-radius: 10px;
        }
      }
    }
    .swiper-container {
      width: 100%;
      margin-top: 32px;
      overflow: hidden;
      .swiper-slide {
        width: 120px;
      }
    }
  }
}

// HISTORY
#content-2 {
  margin-top: 100px;
  padding: 0 5vw;
  height: 100vh;
  .box-wrap {
    .box-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 30vw;
      .img-wrap {
        width: 100%;
        text-align: center;
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
      .text-wrap {
        width: 100%;
        .box-title {
          font-size: 24px;
          font-weight: 500;
          line-height: 32px;
        }
      }
    }
  }
}

// popup
.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  opacity: 0;
  &.show {
    display: block;
    opacity: 1;
    z-index: 100;
    transition: all 0.5s;
    .popup-container {
      .popup {
        transform: translate(-50%, -50%);
        transition: all 0.5s;
      }
    }
  }
  .popup-container {
    position: relative;
    width: 100%;
    height: 100%;
    .popup {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #fff;
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
      width: 80vw;
      height: 80vh;
      border-radius: 10px;
      transform: translate(-50%, -40%);
      overflow-y: scroll;
      padding: 32px;
      img {
        display: block;
        width: 50%;
        border-radius: 10px;
        margin: 24px auto;
      }

      #popup-close {
        position: absolute;
        top: 20px;
        right: 20px;
        background: url(../img/close_btn.png) no-repeat center center;
        background-size: contain;
        background-color: rgba(0, 0, 0, 0);
        width: 20px;
        height: 20px;
        border: none;
      }
    }
  }
}
