@import "common.scss";
@import "variable.scss";
@import "mixin.scss";

// header
header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 72px;
  padding: 16px 40px;
  background-color: $red;

  .top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    background: url(../img/logo_coke_w.png) center center no-repeat;
    background-size: contain;
    display: inline-block;
    width: 120px;
    height: auto;
    vertical-align: middle;
  }
  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        margin-left: 20px;
        a {
          color: $white;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
// box-continaer
.box-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  .box-container {
    width: 100%;
    height: 50%;
    padding: 32px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px $gray-1;
    overflow: hidden;
    & + .box-container {
      margin-left: 3%;
    }
  }
}

.main-title {
  font-size: 32px;
  color: $black;
  text-align: center;
  padding: 24px 0;
}
// content
#content-1 {
  // shake animation
  @keyframes shake {
    from {
      transform: rotate(3deg);
    }
    to {
      transform-origin: center;
      transform: rotate(-3deg);
    }
  }
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background: url(../img/hero_bg.png) center center no-repeat;
  background-size: contain;
  background-position: top;

  // product-wrap
  .product-wrap {
    .main-title {
      color: $white;
    }
    .product-list {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 12px;
      li {
        position: relative;
        box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        margin: 2px 2px 2px 0;
        & + li {
          margin-left: 3%;
        }
        // hover 시 이벤트
        &.hover {
          animation: shake 0.1s ease-in-out 0.1s infinite alternate;

          .product-title {
            background-color: rgba(173, 181, 189, 0.5);
            border-radius: 10px 10px 0 0;
            transition: all 0.3s ease-in;
            p {
              opacity: 1;
              transition: all 0.3s ease-in;
            }
          }
        }
        .img-wrap {
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
        .product-title {
          position: absolute;
          top: 0;
          z-index: 3;
          display: block;
          width: 100%;
          padding: 12px 0;
          text-align: center;

          p {
            opacity: 0;
            color: $white;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
          }
        }
      }
    }
  }

  // brand-wrap
  .brand-wrap {
    .brand-list {
      display: flex;
      // overflow: hidden;
      li {
        margin-left: 12px;
        img {
          border-radius: 10px;
        }
      }
    }
    .swiper-container {
      width: 100%;
      margin-top: 32px;
      overflow: hidden;
      .swiper-slide {
        width: 120px;
      }
    }
  }
}

#content-2 {
  margin-top: 100px;
  padding: 0 20px;
  height: 100vh;
  .box-container {
    display: flex;
    justify-content: space-between;
    .img-wrap {
      width: 50%;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .text-wrap {
      width: 45%;
      .box-title{
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
      }
      .desc{
        margin-top: 32px;
        font-size: 16px;
        line-height: 24px;
      }
      .btn-wrap{
        margin-top: 16px;
        text-align: right;
      }
      .btn-more{
        border-radius: 10px;
        padding: 4px 12px;
        font-size: 16px;
        line-height: 24px;
        background-color: #fff;
        border: 1px solid #ccc;
      }
    }
  }
}
