@charset "UTF-8";
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    @ 경럭 페이지 SCSS
    - 경력 보여주기 레이아웃 구상 필요
    - 

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    @ INDEX SCSS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url("//cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
/* Reset */
* {
  outline: 0 !important;
  box-sizing: border-box;
  word-break: keep-all;
}

html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, menu, nav, section, article, aside,
dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 10px;
  letter-spacing: -0.07em;
}

body {
  width: 100%;
  background: #fff;
  min-width: 320px;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  word-break: break-all;
}

body, input, select, textarea, button {
  border: none;
  font-family: "Pretendard", sans-serif;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  width: 100%;
}

img, fieldset {
  border: 0;
}

address, cite, code, em {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button {
  vertical-align: middle;
}

.hide, caption, legend {
  line-height: 0;
  font-size: 1px;
  overflow: hidden;
}

hr {
  display: none;
}

main, header, section, nav, footer, aside, article, figure {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  color: #000;
}

/* Form */
textarea {
  border: 1px solid #dbdbdb;
}

select {
  height: 32px;
  font-size: 13px;
  color: #373737;
  border: 1px solid #e9e9e9;
  background: #fff;
  border-radius: 5px;
}

input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date], textarea {
  width: 100%;
  height: 30px;
  font-size: 13px;
  color: #373737;
  border: 1px solid #e9e9e9;
  background: #fff;
  text-indent: 20px;
  border-radius: 5px;
  transition: all 0.5s;
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #b5b5b5;
  font-size: 12px;
  line-height: 100%;
}

textarea {
  padding: 5px 0;
}

select:focus,
textarea:focus,
input:focus {
  border: 1px solid #727272;
}

input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly],
input[type=search][readonly],
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled] {
  background: #eaeaea;
  border-color: #c0c0c0;
  color: #666;
  -webkit-appearance: none;
  font-size: 12px;
}

textarea[readonly],
textarea[disabled] {
  padding: 11px;
  font-size: 16px;
  color: #666;
  font-weight: normal;
  line-height: 140%;
  height: 78px;
  background: #eaeaea;
  border: 1px solid #c0c0c0;
}

.clear {
  clear: both;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@keyframes bottomToTop {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes bottomToTopForSecond {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: -8rem;
  }
}
@keyframes shake {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-2deg);
  }
}
@keyframes rotateY {
  to {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes slideUp {
  from {
    bottom: -2rem;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  from {
    left: -20vw;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  from {
    right: -20vw;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@keyframes arrowDown {
  from {
    bottom: 0;
  }
  to {
    bottom: 2vw;
  }
}
.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.x-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    *   font size 별 정리

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
/* 테블릿 가로 (해상도 768px ~ 1023px)*/
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
/* 모바일 세로 (해상도 ~ 479px)*/
/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
/* 테블릿 가로 (해상도 768px ~ 1023px)*/
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
/* 모바일 세로 (해상도 ~ 479px)*/
/*  분기점  */
/*
노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)
@mixin w1024 {}

테블릿 가로 (해상도 768px ~ 1023px)
@mixin w768 {}

모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)
@mixin w480 {}

모바일 세로 (해상도 ~ 479px)
@mixin mobile {}
*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 10px;
  }
}
@media all and (max-width: 479px) {
  html {
    font-size: 8px;
  }
}
.main-header {
  position: sticky;
  top: 0;
  padding: 1.6rem;
  text-align: center;
  z-index: 50;
}
.main-header .main-title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.4rem;
}
.main-header .btn-back {
  position: absolute;
  top: 2.4rem;
  left: 1.6rem;
  background: transparent;
  margin-left: auto;
}
.main-header .btn-back .material-symbols-outlined {
  font-size: 3.2rem;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
@ Button 

** SIZE **
- xxs   : 28px
- xs    : 36px  
- sm    : 40px
- md    : 48px
- lg    : 52px
- xl    : 60px 

** Color **
- primary
- secondary
    > 페이지별 컬러에 맞춰서 변수로 선언해서 사용 

** TYPE **
- solid (default)
- outline
- icon
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.cha-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  border-radius: 0.8rem;
}
.cha-btn .btn-txt {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}
.cha-btn .btn-txt .cha-icon {
  margin-top: -2px;
}
.cha-btn .white {
  color: #fff;
}
.cha-btn.xxs {
  min-width: 6rem;
  height: 2.8rem;
}
.cha-btn.xs {
  min-width: 6.8rem;
  height: 3.6rem;
}
.cha-btn.sm {
  min-width: 8rem;
  height: 4rem;
}
.cha-btn.md {
  min-width: 9.6rem;
  height: 4.8rem;
}
.cha-btn.lg {
  min-width: 10rem;
  height: 5.2rem;
}
.cha-btn.xl {
  min-width: 11.2rem;
  height: 6rem;
}
.cha-btn.w-100 {
  width: 100%;
}
.cha-btn.primary {
  background-color: #339af0;
}
.cha-btn.primary .btn-txt {
  color: #fff;
}
.cha-btn.primary.outline {
  background-color: #fff;
  border: 1px solid #339af0;
}
.cha-btn.primary.outline .btn-txt {
  color: #339af0;
}
.cha-btn.primary.outline .mint-icon {
  color: #339af0;
}
.cha-btn.primary.outline:hover {
  background-color: #d0ebff;
  border-color: #339af0;
}
.cha-btn.primary.outline:active {
  background-color: #1971c2;
  border-color: #1864ab;
}
.cha-btn.primary:hover {
  background-color: #228be6;
}
.cha-btn.primary:active {
  background-color: #1c7ed6;
}
.cha-btn.primary:disabled {
  pointer-events: none;
  background-color: #a5d8ff;
  border: 0;
}
.cha-btn.primary:disabled .btn-txt {
  color: #fff;
}
.cha-btn.primary:disabled .mint-icon {
  color: #fff;
}
.cha-btn.secondary {
  background-color: #f08c00;
}
.cha-btn.secondary .btn-txt {
  color: #fff;
}
.cha-btn.secondary .mint-icon {
  color: #fff;
}
.cha-btn.secondary.outline {
  border: 1px solid #ffe066;
  background-color: #fff;
}
.cha-btn.secondary.outline .btn-txt {
  color: #f08c00;
}
.cha-btn.secondary.outline:hover {
  background-color: #fcc419;
  border-color: #ffe066;
}
.cha-btn.secondary.outline:active {
  background-color: #fff3bf;
  border-color: #f08c00;
}
.cha-btn.secondary:hover {
  background-color: #e67700;
}
.cha-btn.secondary:active {
  background-color: #e67700;
}
.cha-btn.secondary:disabled {
  pointer-events: none;
  opacity: 0.4;
}
.cha-btn:is(.md, .lg, .xl) .btn-txt {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
}

/*
-   Tab! 
-   탭 타입 2가지 (언더라인, 버튼)
-   클릭할 때 애니메이션 효과 주기
// 정리대상
*/
.component-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.6rem;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 9px;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 8px;
  }
}
@media all and (max-width: 479px) {
  html {
    font-size: 6px;
  }
}
body {
  background-color: #ced4da;
}

.career-container {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 2rem;
}

.career-section .co-name {
  margin-bottom: 0.8rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
}
.career-section .co-period {
  margin-bottom: 0.8rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3.8rem;
}
.career-section .co-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.career-section .skill-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
  margin-top: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}

.career-item {
  margin-left: 1.6rem;
}
.career-item .pro-period {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  letter-spacing: normal;
}
.career-item .pro-name {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin-bottom: 0.4rem;
}
.career-item .pro-name::before {
  content: "✔️";
  margin-right: 0.8rem;
}
.career-item .pro-work {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
}
.career-item .pro-detail {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.career-item:not(:first-of-type) {
  margin-top: 3.2rem;
}