@charset "UTF-8";
@import url("//cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
/* Reset */
* {
  outline: 0 !important;
  box-sizing: border-box;
  word-break: keep-all;
}

html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, menu, nav, section, article, aside,
dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 10px;
}

body {
  width: 100%;
  background: #fff;
  min-width: 320px;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  word-break: break-all;
}

body, input, select, textarea, button {
  border: none;
  font-family: "Pretendard", sans-serif;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  width: 100%;
}

img, fieldset {
  border: 0;
}

address, cite, code, em {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button {
  vertical-align: middle;
}

.hide, caption, legend {
  line-height: 0;
  font-size: 1px;
  overflow: hidden;
}

hr {
  display: none;
}

main, header, section, nav, footer, aside, article, figure {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  color: #000;
}

/* Form */
textarea {
  border: 1px solid #dbdbdb;
}

select {
  height: 32px;
  font-size: 13px;
  color: #373737;
  border: 1px solid #e9e9e9;
  background: #fff;
  border-radius: 5px;
}

input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date], textarea {
  width: 100%;
  height: 30px;
  font-size: 13px;
  color: #373737;
  border: 1px solid #e9e9e9;
  background: #fff;
  text-indent: 20px;
  border-radius: 5px;
  transition: all 0.5s;
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #b5b5b5;
  font-size: 12px;
  line-height: 100%;
}

textarea {
  padding: 5px 0;
}

select:focus,
textarea:focus,
input:focus {
  border: 1px solid #727272;
}

input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly],
input[type=search][readonly],
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled] {
  background: #eaeaea;
  border-color: #c0c0c0;
  color: #666;
  -webkit-appearance: none;
  font-size: 12px;
}

textarea[readonly],
textarea[disabled] {
  padding: 11px;
  font-size: 16px;
  color: #666;
  font-weight: normal;
  line-height: 140%;
  height: 78px;
  background: #eaeaea;
  border: 1px solid #c0c0c0;
}

.clear {
  clear: both;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@keyframes shake {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-2deg);
  }
}
@keyframes rotateY {
  to {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes slideUp {
  from {
    bottom: -2rem;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  from {
    left: -20vw;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  from {
    right: -20vw;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@keyframes arrowDown {
  from {
    bottom: 0;
  }
  to {
    bottom: 2vw;
  }
}
[class*=ttl] {
  font-weight: bold;
}
[class*=ttl].ttl-sm {
  font-size: 0.875rem;
}
[class*=ttl].ttl-md {
  font-size: 1rem;
}
[class*=ttl].ttl-lg {
  font-size: 1.6rem;
}
[class*=ttl].ttl-xl {
  font-size: 2rem;
}
[class*=ttl].ttl-xxl {
  font-size: 3rem;
}
[class*=ttl].ttl-xxxl {
  font-size: 4rem;
}

[class*=desc].desc-sm {
  font-size: 0.875rem;
}
[class*=desc].desc-md {
  font-size: 1rem;
}
[class*=desc].desc-lg {
  font-size: 1.6rem;
}
[class*=desc].desc-xl {
  font-size: 2rem;
}

.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mgt-md {
  margin-top: 1.6rem;
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
/* 테블릿 가로 (해상도 768px ~ 1023px)*/
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
/* 모바일 세로 (해상도 ~ 479px)*/
/*  분기점  */
/*
노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)
@mixin w1024 {}

테블릿 가로 (해상도 768px ~ 1023px)
@mixin w768 {}

모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)
@mixin w480 {}

모바일 세로 (해상도 ~ 479px)
@mixin mobile {}
*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 10px;
  }
}
@media all and (max-width: 479px) {
  html {
    font-size: 8px;
  }
}
.flex-box {
  display: flex;
}
.flex-box.double .round-box {
  width: 48%;
}
.flex-box.triple .round-box {
  width: 30%;
}
.flex-box.quatro .round-box {
  width: 20%;
}
.flex-box.column {
  flex-direction: column;
}
.flex-box.center {
  justify-content: center;
  align-items: center;
}

.round-box {
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #343a40;
  margin: 1rem 0;
  overflow: hidden;
}

#mainHeader {
  position: sticky;
  top: 0;
  left: 0;
  height: 0;
  z-index: 200;
  display: flex;
  width: 100%;
  padding: 0 1rem;
  align-items: center;
  background-color: #fff;
  transition: all 0.5s ease-out;
  box-shadow: 2px 2px 4px #f1f3f5;
  overflow: hidden;
}
@media all and (min-width: 320px) and (max-width: 768px) {
  #mainHeader .logo {
    width: 20vw;
    margin: 0 auto;
  }
}
#mainHeader .ham-btn {
  display: none;
  border: 0;
}
@media all and (min-width: 320px) and (max-width: 768px) {
  #mainHeader .ham-btn {
    display: block;
  }
}
#mainHeader .search-btn {
  display: none;
  border: 0;
}
@media all and (min-width: 320px) and (max-width: 768px) {
  #mainHeader .search-btn {
    display: block;
  }
}
#mainHeader .icon-hamburger {
  display: block;
  background: url("../images/gillette/icon/hamBtn.svg") no-repeat center center;
  width: 3rem;
  height: 3rem;
  color: #f1f3f5;
}
#mainHeader .icon-search {
  display: block;
  background: url("../images/gillette/icon/search.svg") no-repeat center center;
  width: 3rem;
  height: 3rem;
  color: #f1f3f5;
}
@media all and (min-width: 320px) and (max-width: 768px) {
  #mainHeader {
    height: 10vw;
  }
}

@media all and (min-width: 1024px) {
  #mainMenu > .flex-box {
    margin: 0 0 0 auto;
    align-items: center;
  }
}
@media all and (min-width: 320px) and (max-width: 768px) {
  #mainMenu > .flex-box {
    flex-direction: column;
  }
}
@media all and (min-width: 1024px) {
  #mainMenu {
    margin: 0 0 0 auto;
  }
}
@media all and (min-width: 320px) and (max-width: 768px) {
  #mainMenu {
    position: fixed;
    width: 50vw;
    left: -10vw;
    opacity: 0;
    bottom: 0;
    background-color: #fff;
    transition: all 0.5s;
    z-index: -100;
    box-shadow: 2px 2px 4px #f1f3f5;
    overflow-y: auto;
  }
  #mainMenu.active {
    left: 0;
    opacity: 1;
    z-index: 100;
  }
}

.sub-menu-wrap {
  display: flex;
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .sub-menu-wrap {
    position: relative;
    margin: 2rem 1rem;
  }
}

.menu-list {
  font-size: 1rem;
  color: #192f6e;
}
@media all and (min-width: 1024px) {
  .menu-list.on .menu-title {
    color: #d9480f;
  }
  .menu-list.on .sub-menu-wrap {
    position: fixed;
    width: 100%;
    top: 10vw;
    left: 0;
    z-index: 100;
    background-color: #f1f3f5;
  }
  .menu-list.on .sub-menu-txt {
    display: flex;
    flex-direction: column;
  }
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .menu-list.on .sub-menu-txt {
    height: 100%;
  }
}
@media all and (min-width: 1024px) {
  .menu-list {
    padding: 1rem;
  }
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .menu-list {
    width: auto;
    padding: 0;
  }
}

.menu-title {
  font-size: 1.6rem;
}
.menu-title.on {
  color: #192f6e;
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .menu-title {
    margin: 2rem;
  }
}

.sub-menu-txt {
  padding: 2rem 1rem;
}
.sub-menu-txt li {
  margin: 1rem;
}
.sub-menu-txt a {
  font-size: 1.6rem;
  color: #192f6e;
  padding: 1rem;
}
.sub-menu-txt a:hover {
  color: #d9480f;
}
@media all and (min-width: 1024px) {
  .sub-menu-txt {
    display: none;
  }
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .sub-menu-txt {
    padding: 0;
    overflow: hidden;
    color: #192f6e;
    flex-direction: column;
  }
}

.sub-menu-img {
  display: none;
  align-items: center;
}
.sub-menu-img li {
  position: relative;
  width: 25%;
  margin: 1rem;
  text-align: center;
  bottom: -2rem;
  opacity: 0;
}
.sub-menu-img span {
  display: inline-block;
  margin-top: 1rem;
  color: #0b1432;
  height: 2em;
}
@media all and (min-width: 1024px) {
  .sub-menu-img.on {
    flex: 1;
    display: flex;
    padding: 2rem;
  }
  .sub-menu-img.on li {
    animation-name: slideUp;
    animation-fill-mode: forwards;
  }
  .sub-menu-img.on li:nth-of-type(1) {
    animation-duration: 0.5s;
  }
  .sub-menu-img.on li:nth-of-type(2) {
    animation-duration: 1s;
  }
  .sub-menu-img.on li:nth-of-type(3) {
    animation-duration: 1.5s;
  }
  .sub-menu-img.on li:nth-of-type(4) {
    animation-duration: 2s;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .sub-menu-img {
    display: none;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .sub-menu-img {
    display: none;
  }
}
@media all and (max-width: 479px) {
  .sub-menu-img {
    display: none;
  }
}

.video-container {
  position: relative;
}
.video-container video {
  width: 100%;
}
.video-container .btn-arrow-down {
  position: absolute;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  animation: arrowDown alternate infinite 1s;
}
.video-container .arrow-down {
  display: block;
  background: url("../images/gillette/icon/arrow-up.svg") no-repeat center center;
  transform: rotate(180deg);
  width: 4vw;
  height: 4vw;
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .video-container {
    display: none;
  }
}

.category-container {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  padding: 2rem 0;
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .category-container .flex-box {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.category-container li {
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .category-container li {
    width: 40%;
  }
}
.category-container li:hover {
  transform: scale(1.1);
}
.category-container li:hover .ttl-lg {
  color: #192f6e;
}
.category-container .ttl-lg {
  text-align: center;
  margin-top: 1rem;
}

.startkit-container {
  height: 80vh;
  background: url("../images/gillette/main/banner.webp") no-repeat center center;
  background-size: cover;
}
.startkit-container .ttl-xxl {
  text-align: left;
  margin-bottom: 3rem;
  color: #f1f3f5;
  text-shadow: 2px 0px 4px;
}
.startkit-container button {
  margin: 1rem;
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .startkit-container {
    background-image: url("../images/gillette/main/m_startkit.jpg");
  }
  .startkit-container .ttl-xxl {
    color: #0b1432;
    text-shadow: none;
  }
  .startkit-container button {
    border-color: #0b1432;
    color: #0b1432;
  }
}
@media all and (max-width: 479px) {
  .startkit-container {
    background-image: url("../images/gillette/main/m_startkit.jpg");
  }
  .startkit-container .ttl-xxl {
    color: #0b1432;
    text-shadow: none;
  }
  .startkit-container button {
    border-color: #0b1432;
    color: #0b1432;
  }
}

.advise-container {
  width: 90%;
  margin: 4rem auto;
}
.advise-container img {
  width: 30vw;
}
.advise-container .column {
  margin-left: 4rem;
}
.advise-container .desc-lg {
  margin: 1rem 0;
  line-height: 1.6em;
}
.advise-container .blue {
  border-color: transparent;
  background-color: #0b1432;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .box-container {
    flex-direction: column;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .box-container {
    flex-direction: column;
  }
}
@media all and (max-width: 479px) {
  .box-container {
    flex-direction: column;
  }
}
.box-container .ttl-lg {
  margin: 2rem 0 0.4rem 0.4rem;
}
.box-container .btn-wrap {
  margin: auto 0 2vw 0;
}
.box-container .btn-md {
  margin: 1rem;
}
.box-container.product .main-box:first-child {
  transition: all 1s ease-in-out;
  position: relative;
}
.box-container.product .main-box:first-child .box-wrap {
  background: url("../images/gillette/main/heated_razor_bg.webp") no-repeat center center;
  background-size: cover;
}
.box-container.product .main-box:last-child {
  position: relative;
  transition: all 1s ease-in-out;
}
.box-container.product .main-box:last-child .box-wrap {
  background: url("../images/gillette/main/acc_bg.webp") no-repeat center center;
  background-size: cover;
}
@media all and (min-width: 1024px) {
  .box-container.product .main-box {
    opacity: 0;
  }
}
.box-container.product .box-wrap {
  width: 50vw;
  height: 50vw;
}
@media all and (min-width: 1024px) {
  .box-container.product.on .main-box:first-child {
    animation: slideFromLeft forwards 1s alternate;
  }
  .box-container.product.on .main-box:last-child {
    animation: slideFromRight forwards 1s alternate;
  }
}
.box-container.tip {
  justify-content: space-around;
}
.box-container.tip .main-box:first-child .box-wrap {
  background: url("../images/gillette/main/home_youtube.jpg") no-repeat center center;
  background-size: cover;
}
.box-container.tip .main-box:last-child .box-wrap {
  background: url("../images/gillette/main/home_facial_hair_styles.jpg") no-repeat center center;
  background-size: cover;
}
.box-container.tip .box-wrap {
  width: 40vw;
  height: 24vw;
}
.box-container.tip .ttl-lg {
  white-space: nowrap;
}
.box-container.flex-box .box-wrap {
  position: relative;
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .box-container.flex-box .box-wrap {
    width: 100%;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .box-container.flex-box .box-wrap {
    width: 100%;
  }
}
@media all and (max-width: 479px) {
  .box-container.flex-box .box-wrap {
    width: 100%;
  }
}
#mainFooter {
  overflow: hidden;
  background-color: #0b1432;
  color: #f1f3f5;
  padding: 3rem;
  margin-top: 10vw;
}
#mainFooter .icon-logo {
  display: block;
  width: 25vw;
  margin: 0 auto;
}
#mainFooter ul {
  margin: 0 2rem;
}
#mainFooter li {
  margin: 2rem 0;
}
#mainFooter a {
  color: #f1f3f5;
}
#mainFooter .sns li {
  width: 5vw;
  margin: 1rem;
}
#mainFooter address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem 0;
}
#mainFooter address span {
  margin: 1rem;
}
#mainFooter address li {
  font-size: 1rem;
  margin: 8px 0;
}

.arrow-up {
  position: fixed;
  right: 3vw;
  bottom: 3vw;
}
.arrow-up .page-top {
  width: 8vw;
  height: 8vw;
  background-color: #212529;
  opacity: 0.8;
  color: #f1f3f5;
  padding: 1vw;
}
.arrow-up .page-top img {
  width: 3vw;
}
.arrow-up .page-top span {
  display: block;
  margin-top: 0.4rem;
}