body {
  background-color: #adb5bd;
}

.overflow-x {
  overflow: scroll;
}

table {
  margin: 4rem 0;
}

.table-default {
  overflow: hidden;
}
.table-default th {
  text-align: center;
  border: 1px solid #212529;
  padding: 1rem;
  background-color: #adb5bd;
}
.table-default th:first-child {
  border-left: 0;
}
.table-default th:last-child {
  border-right: 0;
}
.table-default td {
  text-align: center;
  border: 1px solid #212529;
  padding: 1rem;
}
.table-default td:first-child {
  border-left: 0;
}
.table-default td:last-child {
  border-right: 0;
}
.table-default .sub-title {
  background-color: #dee2e6;
}
.table-default.green th {
  border-color: #fff;
  background-color: #2b8a3e;
  color: white;
}
.table-default.green td {
  border-color: #fff;
}
.table-default.green .sub-title {
  background-color: #51cf66;
}
.table-default.sticky {
  width: 100%;
  position: relative;
  overflow: scroll;
}
.table-default.sticky thead th:first-child {
  position: sticky;
  left: 0;
}
.table-default.sticky .sub-title {
  position: sticky;
  left: 0;
}

.modal.table-type {
  margin: 0;
}
.modal.table-type table {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}
.modal.table-type .md-content {
  padding: 0;
}
.modal.table-type.sticky .md-content {
  justify-content: initial;
  overflow: scroll;
}