/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    @ Gilette 

    -   이전 포트폴리오 활용해서 다시 리뉴얼 

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@import '../../index';


// 메인 헤더
.gt-header {
    position: sticky;
    width: 100%;
    @include flexBox($jc:space-between);
    padding: 2.4rem;
    border: 1px solid $gray-5;
    z-index: 100;

    .logo {
        position: relative;
    }
    .gt-nav {
        display: flex;
    }
    .nav-list {
        @include flexBox($jc:flex-start);
        column-gap: 3.2rem;
    }
    .nav-item {
        .category-title { @include font-16(600); }
    }
}

// 메인 헤더 > 카테고리
.category-list-wrap {
    // display: none; // none 은 아니고 나중에 opactity랑 위치값 세팅 필요
    position: absolute;
    top: 7.4rem;
    left: 0;
    width: 100%;
    padding: 1.6rem 2.4rem;
    background-color: #fff;
    border-bottom: 1px solid $gray-5;

    .category-list {
        display: flex;
        flex-direction: column;
    }
    .category-item {
        position: relative;
        display: flex;
    }
    &.active { display: block; }
}

.a-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}