@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
a {
  text-decoration: none;
  color: #212529;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

img {
  vertical-align: middle;
}

.center {
  max-width: 1420px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  color: #212529;
  padding: 60px 0 40px 0;
}

.clearFix::after {
  content: "";
  display: block;
  clear: both;
}

i {
  font-family: "fontello";
  color: #495057;
  font-size: 40px;
}

/* Reset */
html {
  overflow-y: scroll;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
p,
button,
input {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  *word-break: break-all;
  -ms-word-break: break-all;
}

img,
fieldset,
iframe {
  border: 0 none;
  padding: 0;
}

li {
  list-style: none;
}

input,
select,
button {
  vertical-align: middle;
}

i,
em,
address {
  font-style: normal;
}

label,
button {
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
}

button * {
  position: relative;
}

button img {
  left: -3px;
  *left: auto;
}

html:first-child select {
  height: 20px;
  padding-right: 6px;
}

option {
  padding-right: 6px;
}

hr {
  display: none;
}

legend {
  *width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header,
footer,
nav,
section,
aside {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* clearfix */
.clearFix {
  *zoom: 1;
}

/* Hide */
.hidden {
  overflow: hidden;
  display: inline-block;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

/* Skip */
.skip a {
  position: absolute;
  left: 0;
  top: -9999em;
  z-index: 9999;
  display: block;
  width: 100%;
  background-color: #039;
  color: #eee;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
}

.skip a:hover,
.skip a:active,
.skip a:focus {
  top: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 72px;
  padding: 16px 40px;
  background-color: #df0026;
}

header .top-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  background: url(../img/logo_coke_w.png) center center no-repeat;
  background-size: contain;
  display: inline-block;
  width: 120px;
  height: auto;
  vertical-align: middle;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

header nav ul li:first-child {
  margin-left: 0;
}

.main-title {
  font-size: 32px;
  color: #fff;
  text-align: center;
  padding: 24px 0;
}

#content-1 {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background: url(../img/hero_bg.png) center center no-repeat;
  background-size: contain;
  background-position: top;
}

#content-2 {
  height: 100vh;
}

#content-2 .main-title {
  color: #000;
}

#content-2 .brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content-2 .brand-list li {
  margin-left: 12px;
}

#content-2 .brand-list li img {
  border-radius: 10px;
}

#content-2 .swiper-container {
  width: 100%;
  margin-top: 32px;
}

#content-2 .swiper-container .swiper-slide {
  width: 120px;
}

.product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 12px;
}

.product-wrap li {
  position: relative;
  -webkit-box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 2px 2px 2px 0;
}

.product-wrap li + li {
  margin-left: 3%;
}

.product-wrap li.hover {
  -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
          animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

.product-wrap li.hover .product-title {
  background-color: rgba(173, 181, 189, 0.5);
  border-radius: 10px 10px 0 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.product-wrap li.hover .product-title p {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.product-wrap li .img-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product-wrap li .product-title {
  position: absolute;
  top: 0;
  z-index: 3;
  display: block;
  width: 100%;
  padding: 12px 0;
  text-align: center;
}

.product-wrap li .product-title p {
  opacity: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

.box-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-wrap .box-container {
  width: 100%;
  height: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px 2px #f1f3f5;
          box-shadow: 1px 1px 2px 2px #f1f3f5;
}

.box-wrap .box-container + .box-container {
  margin-left: 3%;
}
