@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Zen+Kurenaido&display=swap');
@import url('../../common/fonts/GTPressuraMono-Light.woff');
@import url('../../common/fonts/GTPressuraMono-Light.woff2');
@import url('../../common/fonts/GTPressuraMono.woff');
@import url('../../common/fonts/GTPressuraMono.woff2');
@import url('../../common/fonts/Plaak-CondensedBold.woff');
@import url('../../common/fonts/Plaak-CondensedBold.woff2');
@import url('../../common/fonts/Plaak-SemicondensedRegular.woff');
@import url('../../common/fonts/Plaak-SemicondensedRegular.woff2');
@import 'mixins';
@import 'reset';
@import 'variables';

body {
  background-image: url(../../common/img/paper-texture-narrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: 'Zen Kurenaido', 'Roboto', sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}
* {
  box-sizing: border-box;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}


