@import 'common';
/* footer */
.footer {
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid $BLACK;
    border-bottom: 1px solid $BLACK;
    .info {
      width: 100%;
      padding: 2% 4%;
      position: relative;
      .txt-wrap {
        width: 5%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        img {
          width: 100%;
        }
      }
      .contact {
        .title {
          @include title-h3;
        }
        display: block;
        font-size: 1.6em;
        text-align: center;
      }
    }
  }
  /*// footer */