@keyframes slideUp {
    from {
        bottom: -50px;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    from {
        left: -50vw;
    }
    to {
        left: 0px;
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        right: -50vw;
    }
    to {
        right: 0px;
        opacity: 1;
    }
}


@keyframes arrowDown {
    from {
        bottom: 16px;
    }

    to {
        bottom: 48px;
    }
}