// 브랜드 컬러
$mainColor : #0b1432;
$subColor : #192f6e;

// Gray
$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;

// Red
$red0 :#fff5f5;
$red1 :#ffe3e3;
$red2 :#ffc9c9;
$red3 :#ffa8a8;
$red4 :#ff8787;
$red5 :#ff6b6b;
$red6 :#fa5252;
$red7 :#f03e3e;
$red8 :#e03131;
$red9 :#c92a2a;