// Blue
$primary-0 : #e7f5ff!default;
$primary-1 : #d0ebff!default;
$primary-2 : #a5d8ff!default;
$primary-3 : #74c0fc!default;
$primary-4 : #4dabf7!default;
$primary-5 : #339af0!default;
$primary-6 : #228be6!default;
$primary-7 : #1c7ed6!default;
$primary-8 : #1971c2!default;
$primary-9 : #1864ab!default;

$secondary-0: #fff9db!default;
$secondary-1: #fff3bf!default;
$secondary-2: #ffec99!default;
$secondary-3: #ffe066!default;
$secondary-4: #ffd43b!default;
$secondary-5: #fcc419!default;
$secondary-6: #fab005!default;
$secondary-7: #f59f00!default;
$secondary-8: #f08c00!default;
$secondary-9: #e67700!default;