// Blue
$primary-0 : #e7f5ff;
$primary-1 : #d0ebff;
$primary-2 : #a5d8ff;
$primary-3 : #74c0fc;
$primary-4 : #4dabf7;
$primary-5 : #339af0;
$primary-6 : #228be6;
$primary-7 : #1c7ed6;
$primary-8 : #1971c2;
$primary-9 : #1864ab;

// Yellow

$secondary-0: #f8f9fa;
$secondary-1: #f1f3f5;
$secondary-2: #e9ecef;
$secondary-3: #dee2e6;
$secondary-4: #ced4da;
$secondary-5: #adb5bd;
$secondary-6: #868e96;
$secondary-7: #495057;
$secondary-8: #343a40;
$secondary-9: #212529;