
@mixin flexBox($jc:center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin inlineFlex($jc:center, $ai: center) {
    display: inline-flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin absCenter($x: -50%, $y: -50%) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX($x) translateY($y);
}

@mixin absCenterX {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin absCenterY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin ellipsis($line: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	word-break: keep-all;
	word-wrap: break-word;
	overflow: hidden;
}

@mixin shadow2 {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);
}
@mixin shadow4 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 rgba(0, 0, 0, 0.08);
}
@mixin shadow8 {
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 rgba(0, 0, 0, 0.04);
}
@mixin shadow16 {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12), 0 0 16px 0 rgba(0, 0, 0, 0.04);
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@mixin w1024 {
    @media all and (min-width:1024px) {
        @content;
    }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@mixin w768 {
    @media all and (min-width:768px) and (max-width:1023px) {
        @content;
    }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@mixin w480 {
    @media all and (min-width:480px) and (max-width:767px) {
        @content;
    }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@mixin mobile {
    @media all and (max-width:479px) {
        @content;
    }
}

@mixin allMobile {
    @media all and (min-width:320px) and (max-width:1024px) {
        @content;
    }
}