
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    *   font size 별 정리

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin font-48($weight:400) {
    font-size: 4.8rem;
    font-weight: $weight;
    line-height: 6.4rem;
}

@mixin font-32($weight:400) {
    font-size: 3.2rem;
    font-weight: $weight;
    line-height: 4rem;
}

@mixin font-28($weight:400) {
    font-size: 2.8rem;
    font-weight: $weight;
    line-height: 3.8rem;
}

@mixin font-24($weight:400) {
    font-size: 2.4rem;
    font-weight: $weight;
    line-height: 3.2rem;
}

@mixin font-18($weight:400) {
    font-size: 1.8rem;
    font-weight: $weight;
    line-height: 2.8rem;
    letter-spacing: -0.072rem;
}

@mixin font-16($weight:400) {
    font-size: 1.6rem;
    font-weight: $weight;
    line-height: 2.4rem;
}

@mixin font-14($weight:400) {
    font-size: 1.4rem;
    font-weight: $weight;
    line-height: 2rem;
}

@mixin font-12($weight:400) {
    font-size: 1.2rem;
    font-weight: $weight;
    line-height: 1.8rem;
}

@mixin flexBox($jc:center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin inilneFlex($jc:center, $ai: center) {
    display: inline-flex;
    justify-content: $jc;
    align-items: $ai;
}





/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@mixin w1024 {
    @media all and (min-width:1024px) {
        @content;
    }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@mixin w768 {
    @media all and (min-width:768px) and (max-width:1023px) {
        @content;
    }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@mixin w480 {
    @media all and (min-width:480px) and (max-width:767px) {
        @content;
    }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@mixin mobile {
    @media all and (max-width:479px) {
        @content;
    }
}

@mixin allMobile {
    @media all and (min-width:320px) and (max-width:768px) {
        @content;
    }
}