// 경럭페이지 ㄱ


.career-container {
    display: flex;
    flex-direction: column;
}

.career-section {

    .co-name {
        font-size: 3.2rem;
        font-weight: 700;
    }

    .co-period {
        font-size: 1.6rem;
    }

    // html ,css , js, jquery, git ,svn 아이콘 다운받아서 가상선택자로 넣기
    .skill-list {

    }
}

.carrer-item {

}