@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Zen+Kurenaido&display=swap');
@import url('../../common/fonts/GTPressuraMono-Light.woff');
@import url('../../common/fonts/GTPressuraMono-Light.woff2');
@import url('../../common/fonts/GTPressuraMono.woff');
@import url('../../common/fonts/GTPressuraMono.woff2');
@import url('../../common/fonts/Plaak-CondensedBold.woff');
@import url('../../common/fonts/Plaak-CondensedBold.woff2');
@import url('../../common/fonts/Plaak-SemicondensedRegular.woff');
@import url('../../common/fonts/Plaak-SemicondensedRegular.woff2');

body {
  background-image: url(../../common/img/paper-texture-narrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: 'Zen Kurenaido', 'Roboto', sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}
* {
  box-sizing: border-box;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

//Color
$BLACK: #000;
$POINT: #2f9e44;
$YELLOW: #ffec99;

// mixin
@mixin mediaQuery($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

// header
@mixin header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 24px;
  padding: 2% 4%;
  font-size: 1.6rem;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 18%;
    height: auto;
    a {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      span {
        width: 100px;
        height: auto;
        img {
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }

  .copy {
    display: block;
    width: 38%;
    height: 100%;
    margin-left: 1%;
    padding: 1% 0;
    border-top: 1px solid $BLACK;
    border-bottom: 1px solid $BLACK;
    &.info {
      span {
        margin-left: 2%;
      }
    }
    &.clock {
      text-align: right;
      #clock {
        margin-right: 2%;
      }
    }
  }
}

// nav
@mixin nav {
  width: 90%;
  margin: 0 auto;
  .nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 16px 0;
    font-size: 2.4rem;
    position: relative;
    z-index: 2;
    li {
      position: relative;
      &.hover {
        .highlighted {
          path {
            display: block;
            animation: highlightWord 0.5s ease-in-out forwards;
          }
        }
      }
      .highlighted {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        path {
          display: none;
          stroke-dasharray: 180;
          stroke-dashoffset: 180;
        }
      }
    }
  }
}

@mixin title-h2 {
  font-size: 3.6em;
  font-weight: 600;
}

@mixin title-h3 {
  font-size: 2.4em;
  font-weight: 500;
}

@mixin title-h4 {
  font-size: 2em;
  font-weight: 500;
}

@mixin txt-list {
  font-size: 1.6em;
  li + li {
    margin-top: 1.2em;
  }
}
