@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Zen+Kurenaido&display=swap");
body {
  background-color: #e6e2dd;
  background-image: url(../img/paper-texture-narrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: "Zen Kurenaido", "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

// mixin
@mixin title-h2{
  font-size: 3.6em;
  font-weight: 600;
}

@mixin title-h3 {
  font-size: 2.4em;
  font-weight: 500;
}

@mixin title-h4 {
  font-size: 2em;
  font-weight: 500;
}

@mixin txt-list{
  font-size: 1.6em;
  li+li{
    margin-top: 1.2em;
  }
}
