* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05em;
}

input:focus {
  outline: none;
}

#clock {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  -webkit-transform: translate(-50%, -20%);
  font-size: 64px;
  font-weight: 500;
  color: #fff;
}

.bg-img {
  width: 100vw;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hidden {
  display: none !important;
}

#greeting {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  -webkit-transform: translate(-50%, -20%);
  font-size: 64px;
  font-weight: 500;
  color: #fff;
  margin-top: 80px;
}

#login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

#login-form input {
  padding: 20px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
}

#login-form input[type="submit"] {
  background-color: transparent;
  color: #fff;
}

#login-form input::-webkit-input-placeholder {
  color: #fff;
}

#login-form input:-ms-input-placeholder {
  color: #fff;
}

#login-form input::-ms-input-placeholder {
  color: #fff;
}

#login-form input::placeholder {
  color: #fff;
}

#todo-form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
}

#todo-form input {
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  background-color: transparent;
  color: white;
}

#todo-form input::-webkit-input-placeholder {
  color: white;
}

#todo-form input:-ms-input-placeholder {
  color: white;
}

#todo-form input::-ms-input-placeholder {
  color: white;
}

#todo-form input::placeholder {
  color: white;
}
