@import '_variables';

.flex-box {
    display: flex;
    
    &.double {
        .round-box {width: 48%;}
    }
    
    &.triple {
        .round-box {width: 30%;}
    }

    &.quatro {
        .round-box {width: 20%;}
    }
    &.column { flex-direction: column; }
}

.round-box {
    border-radius: 8px;
    box-shadow: 2px 2px 8px $gray8;
    margin: 1rem 0;
    overflow: hidden;
}
