/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    @ INDEX SCSS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

// 공통 ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

@import '../styles/base/reset';

@import '../styles/helper/mixin';
@import '../styles/helper/animation';
@import '../styles/helper/variables';
@import '../styles//layout/header';

// 컴포넌트 ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––






// 모바일 폰트사이즈 ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
@include w768 {
    html { font-size: 9px; }
}
@include w480 {
    html { font-size: 8xp; }
}
@include mobile {
    html { font-size: 6px;}
}

