@import '_default';
@import '_variables';
@import '_mobile';
@import '_class';

body {
    background-color: $orange1;
}

h1 {
    color: $orange5;
}

.sample {
    header{padding: 2rem;}
    main{padding: 2rem;}
}