@import'_default';
@import'_variables';
@import'_mixin';
@import'_animation';
@import '_class';

.main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    transition: all 0.5s ease-in;
    z-index: 2000;
    background-color: $gray1;
    overflow: hidden;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    padding: 32px;
    border-bottom: 1px solid $gray9;
    transition: all 0.5s ease-in;

    .logo {
        margin-right: 100px;
    }
}

.menu {
    flex: 1;
    display: flex;
}

.menu-list {
    padding: 16px;

    h2 {
        position: relative;
        padding: 16px;
        font-size: 1.6rem;
        font-weight: bold;
        color: $gilSub;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            width: 0;
            height: 3px;
            background-color: $gilSub;
        }
    }

    &:hover {
        h2::before {
            width: calc(100% - 32px);
            transition: all 0.5s ease-in;
        }
    }

    &.on {
        .sub-menu-wrap {
            display: flex;
        }
    }
}

.sub-menu-wrap {
    position: absolute;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $gray1;
    align-items: center;
    display: none;
}

.sub-menu-txt {
    width: 30%;
    font-size: 1rem;
    padding: 48px 32px;

    li {
        padding: 16px 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.sub-menu-img {
    flex: 1;
    display: none;
    text-align: center;
    transition: all 1s;
    opacity: 0;

    li {
        position: relative;
        bottom: -50px;
        width: 200px;
        padding: 16px;
        opacity: 0;
    }

    span {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 16px;
        word-break: keep-all;
    }

    &.on {
        opacity: 1;
        display: flex;
        transition: all 1s;

        li {
            animation-name: slideUp;
            animation-fill-mode: forwards;

            @for $i from 1 through 4 {
                &:nth-of-type(#{$i}) {
                    animation-duration: 0.5s * $i;
                }
            }
        }
    }
}

.video-wrap {
    position: relative;

    .arrow-down {
        position: absolute;
        bottom: 5vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 50px;
        animation: arrowDown alternate 1s infinite;

        button {
            display: inline-block;
            color: #fff;
            font-size: 1.2rem;
            background-color: transparent;
        }

        span {
            display: inline-block;
            padding-bottom: 8px;
        }

    }

    video {
        display: block;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        object-fit: cover;
    }
}

.type-wrap {
    text-align: center;
    width: 100%;
    padding: 0 32px;
    opacity: 0;

    .type-list {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            position: relative;
            width: 500px;
            padding: 48px;
            bottom: -50px;

            &:hover {
                transition: all 0.5s ease-in-out;
                transform: scale(1.1);

                span {
                    color: $gilSub;
                }
            }
        }

        span {
            display: inline-block;
            margin-top: 32px;
            font-size: 1rem;
            font-weight: bold;
        }
    }

    &.on {
        opacity: 1;
        transition: all 2s;

        li {
            animation-name: slideUp;
            animation-fill-mode: forwards;

            @for $i from 1 through 4 {
                &:nth-of-type(#{$i}) {
                    animation-duration: 0.5s * $i;
                }
            }
        }
    }
}

.startkit-wrap {
    position: relative;
    height: 1000px;
    background: url(../images/banner.webp) center center no-repeat;
    background-size: cover;

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ttl-xxxl {
        color: $gray1;
        word-break: keep-all;
    }

    .btn-wrap {
        margin-top: 32px;
    }

    .btn-lg {
        margin: 16px;
    }
}

.advise-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    opacity: 0;

    .img-box {
        width: 280px;
    }

    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
        word-break: keep-all;
        line-height: 1.6;
    }

    .desc-xl {
        margin-top: 16px;
    }

    .btn-lg {
        margin-top: 32px;
    }

    &.on {
        transition: all 1s ease-in;
        animation: slideUp;
        animation-fill-mode: forwards;
        animation-duration: 1s;
    }
}

.shop-wrap {
    overflow: hidden;
    margin: 100px 0;

    .box {
        position: relative;
        width: 100%;
        opacity: 0;
    }

    .ttl-xxl {
        margin-left: 16px;
    }

    .img-wrap {
        position: relative;

        img {
            height: 620px;
        }
    }

    .btn-wrap {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);

        .btn-lg {
            font-weight: bold;
            margin: 16px;
        }
    }

    &.on {
        .box {
            transition: all 1s ease-in-out;

            &:first-child {
                animation-name: slideFromLeft;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }

            &:last-child {
                animation: slideFromRight;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
        }
    }
}

.tip-wrap {
    margin: 100px 0;


    .flex-wrap {
        justify-content: center;
    }

    .box {
        position: relative;
        margin: 32px;
    }

    .ttl-lg {
        margin-bottom: 16px;
    }

    .btn-lg {
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.footer-wrap {
    background-color: $gilMain;
    text-align: center;
    color: $gray1;
    padding: 48px 100px;
    word-break: keep-all;

    .flex-wrap {
        justify-content: center;
        align-items: center;
    }

    a {
        color: $gray1;
    }

    .logo {
        display: inline-block;
        width: 300px;
        margin: 48px 0;
    }

    .footer-list {
        display: flex;
        text-align: left;
        margin: 16px;

        ul {
            margin: 0 32px;
        }

        li {
            font-size: 1rem;
            margin: 32px 0;
        }
    }

    .footer-sns {
        display: flex;
        margin: 16px;

        li {
            width: 80px;
            margin: 16px;
        }
    }

    address {
        margin: 48px 0;

        span {
            margin: 8px;
        }

        li {
            font-size: 1rem;
            margin: 8px 0;
        }

        p {
            margin-top: 32px;
        }
    }
}

.arrow-up {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    color: $gray1;
    overflow: hidden;

    .page-top {
        width: 100px;
        height: 100px;
        background-color: $gray9;
        opacity: 0.8;
        color: $gray1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 50px;
        }

        span {
            display: block;
            font-size: 1.6rem;
        }
    }
}
