@import '_default';
@import '_variables';
@import '_class';
@import 'common';
@import '_mobile';

body {
    background: url('../images/paper_bg.png') no-repeat top center $gray2;
    background-size: cover;
}

header { padding: 2rem; }
section { padding: 2rem; }
footer { padding: 2rem; }
.main-ttl { margin-bottom: 2rem; }

.round-box {
    text-align: center;
    .page-link {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    &:hover {
        background-color: $green5;
        box-shadow: 2px 2px 8px $gray1;
        a {color: $gray1;}
    }
}

.info-wrap {
    display: flex;
    flex-wrap: wrap;
    .desc-lg {
        width: 50%;
        margin: 1rem 0;
    }

    .to-do-list {
        margin: 2rem 0;
        font-weight: bold;
    }
}