@import '_page';
@import '_flexbox';
.sticky-tab {
    position: sticky;
    background-color: $gray2;

    .flex-box {
        height: 10vh;
        align-items: center;
        li { margin: 1rem; }
    }
}
.sample-box {
    background-color: $gray4;
    height: 100vh;
}