@import '_page';
@import '_flexbox';
.sticky {
    position: sticky;
}

.x-scroll {
    background-color: $gray2;

    .flex-box {
        height: 10vh;
        align-items: center;
        li { margin: 1rem; }
    }
}
.sample-box {
    height: 100vh;
}