@import '_page';

header {
    padding: 2rem;
}

.sticky-tab {
    position: sticky;
    background-color: $gray2;

    .flex-box {
        height: 10vh;
        align-items: center;
        li {
            margin: 1rem;
        }
    }
}