@import '_page';

main { padding: 2rem; }
.overflow-x { overflow: scroll; }// 임시
table { margin: 4rem 0; } // 이 페이지 내 간격 임시

.table-default {
    overflow: hidden;
    th {
        text-align: center;
        border: 1px solid $gray9;
        padding: 1rem;
        background-color: $gray5;
        &:first-child { border-left: 0; }
        &:last-child { border-right: 0; }
    }
    td {
        text-align: center;
        border: 1px solid $gray9;
        padding: 1rem;
        &:first-child { border-left: 0; }
        &:last-child { border-right: 0; }
    }
    .sub-title { background-color: $gray3; }

    &.green {
        th {
            border-color: #fff;
            background-color: $green9;
            color: white;
        }
        td {
            border-color: #fff;
        }
        .sub-title {
            background-color: $green5;
        }
    }

    &.sticky {
        width: 100%;
        position: relative;
        overflow: scroll;
        thead {
            th:first-child {
                position: sticky;
                left: 0;
            }
        }
        .sub-title {
            position: sticky;
            left: 0;
        }
    }
}


.modal.table-type {
    margin: 0;
    table {
        margin: 0;
        width: 100%;
        border-collapse: collapse;
    }
    .md-content { padding: 0; }

    &.sticky {
        .md-content {
            justify-content: initial;
            overflow: scroll;
        }
    }
}
