/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

@   Header

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


.main-header{
    position: sticky;
    top: 0;
    padding: 1.6rem;
    text-align: center;
    z-index: 50;
    
    .main-title {
        @include font-48(700);
    }
    .btn-back {
        position: absolute;
        top: 2.4rem;
        left: 1.6rem;
        background: transparent;
        margin-left: auto;

        .material-symbols-outlined {
            font-size: 3.2rem;
        }
    }

    @include allMobile {
        top: $env-top;
        top: $constant-top;
    }
}