
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    *   font size 별 정리

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin font-48($weight:400) {
    font-size: 4.8rem;
    font-weight: $weight;
    line-height: 6.4rem;
}

@mixin font-32($weight:400) {
    font-size: 3.2rem;
    font-weight: $weight;
    line-height: 4rem;
}

@mixin font-28($weight:400) {
    font-size: 2.8rem;
    font-weight: $weight;
    line-height: 3.8rem;
}

@mixin font-24($weight:400) {
    font-size: 2.4rem;
    font-weight: $weight;
    line-height: 3.2rem;
}

@mixin font-18($weight:400) {
    font-size: 1.8rem;
    font-weight: $weight;
    line-height: 2.8rem;
}

@mixin font-16($weight:400) {
    font-size: 1.6rem;
    font-weight: $weight;
    line-height: 2.4rem;
}

@mixin font-14($weight:400) {
    font-size: 1.4rem;
    font-weight: $weight;
    line-height: 2rem;
}

@mixin font-12($weight:400) {
    font-size: 1.2rem;
    font-weight: $weight;
    line-height: 1.8rem;
}

@mixin flexBox($jc:center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin inlineFlex($jc:center, $ai: center) {
    display: inline-flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin ellipsis($line: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	word-break: keep-all;
	word-wrap: break-word;
	overflow: hidden;
}
@mixin imgObject {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@mixin absCenterX {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin absCenterY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin shadow2 {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);
}
@mixin shadow4 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 rgba(0, 0, 0, 0.08);
}
@mixin shadow8 {
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 rgba(0, 0, 0, 0.04);
}
@mixin shadow16 {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12), 0 0 16px 0 rgba(0, 0, 0, 0.04);
}

@mixin srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); 
    white-space: nowrap;
    border: 0;
}

@mixin mobile {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
