#mainHeader {
  position: relative;
  padding: 2rem 4rem 0;
  text-align: center;

  .header {
    &-title {font-size: 4.8rem;}
    &-date {
      @include font-md;
      display: block;
      text-align: center;
      width: 100%;
      padding: 1rem 0;
      border-top: 1px solid #000;
      border-bottom: 2px solid #000;
    }
  }
}
