@import "common";

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// main
.main-section {
  width: 100%;
  padding: 4rem;

  &__profile {
    .profile-img {
      width: 50%;
      img {width: 100%;}
    }

    .profile-txt {
      &__desc {
        @include font-md;
        .bold {
          @include font-lg;
        }
      }
    }
  }

  &__works {
    @include font-md;
  }

  &__career {
    @include font-md;
    .list-up {
      &__item {
        justify-content: flex-start;
        span {
          width: 20%;
          margin-right: 4rem;
        }
      }
    }
  }

  &__playground {
    position: relative;
    width: 100%;
    background: url('../images/playgroud_bg.jpg') no-repeat;
    background-size: contain;


    .playground-link {
      @include font-xl;
      @include bold;
      padding-top: 50%;
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #087f5b;
      }
    }
    .playground-desc{
      @include font-sm;
      position: absolute;
      &.right {
        right: 1rem;
        bottom: 1rem;
      }
      &.left {
        left: 1rem;
        bottom: 1rem;
      }
    }
  }

  &.sm {width: 40%;}
  &.md {width: 60%;}

  @include mediaQuery(425px) {
    width: 100%;
  }
}
