// mixin

@mixin font-sm {font-size: 1.2rem;}
@mixin font-md {font-size: 2rem;}
@mixin font-lg {font-size: 2.4rem;}
@mixin font-xl {font-size: 3.6rem;}

@mixin txt-list {
  font-size: 1.6rem;
  li + li {
    margin-top: 1.2rem;
  }
}

@mixin bold {font-weight: 700;}

// font
@mixin font-title {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2.8rem;
}
@mixin font-eng {
  font-family: 'Zen Kurenaido', 'Roboto', sans-serif;
}

@mixin mediaQuery($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
