<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Components</title>
    <link rel="stylesheet" href="../../asset/css/pages.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back" />
</head>
<body>

    <header class="main-header">
        <a href="../../index.html" role="button" class="btn-icon btn-back">
            <span class="material-symbols-outlined">arrow_back</span>
        </a>
        <h1 class="main-title">Buttons</h1>
    </header>

    <main class="component-container button">
        <article>
            <h2 class="sub-title">Solid</h2>
            <button type="button" class="cha-btn primary xxs">
                <span class="btn-txt">btn xxs 28</span>
            </button>
            <button type="button" class="cha-btn primary xs">
                <span class="btn-txt">btn xs 36</span>
            </button>
            <button type="button" class="cha-btn primary sm">
                <span class="btn-txt">btn sm 40</span>
            </button>
            <button type="button" class="cha-btn primary md">
                <span class="btn-txt">btn md 48</span>
            </button>
            <button type="button" class="cha-btn primary lg">
                <span class="btn-txt">btn lg 52</span>
            </button>
            <button type="button" class="cha-btn primary xl">
                <span class="btn-txt">btn xl 60</span>
            </button>
        </article>
        <br><br>
        <article>
            <h2 class="sub-title">Outline</h2>
            <button type="button" class="cha-btn primary xxs outline">
                <span class="btn-txt">btn xxs 28</span>
            </button>
            <button type="button" class="cha-btn primary xs outline">
                <span class="btn-txt">btn xs 36</span>
            </button>
            <button type="button" class="cha-btn primary sm outline">
                <span class="btn-txt">btn sm 40</span>
            </button>
            <button type="button" class="cha-btn primary md outline">
                <span class="btn-txt">btn md 48</span>
            </button>
            <button type="button" class="cha-btn primary lg outline">
                <span class="btn-txt">btn lg 52</span>
            </button>
            <button type="button" class="cha-btn primary xl outline">
                <span class="btn-txt">btn xl 60</span>
            </button>
        </article>        
        <br><br>
        <article>
            <h2 class="sub-title">Round</h2>
            <button type="button" class="cha-btn primary xxs round">
                <span class="btn-txt">btn xxs 28</span>
            </button>
            <button type="button" class="cha-btn primary xs round">
                <span class="btn-txt">btn xs 36</span>
            </button>
            <button type="button" class="cha-btn primary sm round">
                <span class="btn-txt">btn sm 40</span>
            </button>
            <button type="button" class="cha-btn primary md round">
                <span class="btn-txt">btn md 48</span>
            </button>
            <button type="button" class="cha-btn primary lg round">
                <span class="btn-txt">btn lg 52</span>
            </button>
            <button type="button" class="cha-btn primary xl round">
                <span class="btn-txt">btn xl 60</span>
            </button>
        </article>        
        <br><br>
        <article>
            <h2 class="sub-title">Round outline</h2>
            <button type="button" class="cha-btn primary xxs round outline">
                <span class="btn-txt">btn xxs 28</span>
            </button>
            <button type="button" class="cha-btn primary xs round outline">
                <span class="btn-txt">btn xs 36</span>
            </button>
            <button type="button" class="cha-btn primary sm round outline">
                <span class="btn-txt">btn sm 40</span>
            </button>
            <button type="button" class="cha-btn primary md round outline">
                <span class="btn-txt">btn md 48</span>
            </button>
            <button type="button" class="cha-btn primary lg round outline">
                <span class="btn-txt">btn lg 52</span>
            </button>
            <button type="button" class="cha-btn primary xl round outline">
                <span class="btn-txt">btn xl 60</span>
            </button>
        </article>        
    </main>

</body>
</html>