/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    @ 메인 페이지 SCSS
    - 도시락 Layout 
    - 페이지 열리면 올라오는 애니메이션

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@import '../index';

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    .text-alpha {
        display: inline-block;
        width: 5rem;
        height: 10rem;
        background-size: cover;
    }
    .c { background-image: url("data:image/svg+xml,%3Csvg width='100' height='200' font-weight='bold' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='10' y='70' font-family='Pretendard' font-size='80px'%3EC%3C/text%3E%3CclipPath id='clipC'%3E%3Crect x='10' y='95' width='80' height='40'/%3E%3C/clipPath%3E%3Ctext x='10' y='154' font-family='Pretendard' font-size='80px' fill='%23fff' clip-path='url(%23clipC)'%3EC%3C/text%3E%3C/svg%3E%0A"); }
    .h { background-image: url("data:image/svg+xml,%3Csvg width='100' height='200' font-weight='bold' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='10' y='70' font-family='Pretendard' font-size='80px'%3EH%3C/text%3E%3CclipPath id='clipH'%3E%3Crect x='10' y='95' width='80' height='40'/%3E%3C/clipPath%3E%3Ctext x='10' y='154' font-family='Pretendard' font-size='80px' fill='%23fff' clip-path='url(%23clipH)'%3EH%3C/text%3E%3C/svg%3E%0A"); }
    .a { background-image: url("data:image/svg+xml,%3Csvg width='100' height='200' font-weight='bold' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='10' y='70' font-family='Pretendard' font-size='80px'%3EA%3C/text%3E%3CclipPath id='clipA'%3E%3Crect x='10' y='95' width='80' height='40'/%3E%3C/clipPath%3E%3Ctext x='10' y='154' font-family='Pretendard' font-size='80px' fill='%23fff' clip-path='url(%23clipA)'%3EA%3C/text%3E%3C/svg%3E%0A"); }
}

.main-section {
    height: 200vh; // 임시
    padding: 12rem 2rem 2rem;
    background-color: $gray-9;
}

.main-layout {
    display: flex;
    width: 100%;

    .content-box-wrap { 
        display: flex;
        flex-direction: column;
        width: 100%; 
    }

    .content-box {
        margin-top: 100vh;
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center calc(100% + 12rem);
        &.first { 
            @include flexBox($jc:flex-start,);
            height: 50rem;
            background-color: $orange-8; 
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="100"><text x="10" y="40" font-family="Pretendard" font-size="30" fill="%232f9e44">Hello World</text></svg>');
            animation: bottomToTop 0.5s 0.8s forwards ease-in-out;
        }

        &.second { 
            padding: 2rem;
            height: 20rem;
            background-color: $green-8; 
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="100"><text x="10" y="40" font-family="Pretendard" font-size="30" fill="%23f08c00">Hello World</text></svg>');
            animation: bottomToTopForSecond 0.8s 0.8s forwards ease-in-out;
        }
        
        &.third { 
            height: 30rem;
            background-color: $red-8; 
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="100"><text x="10" y="40" font-family="Pretendard" font-size="30" fill="%23ffa94d">Hello World</text></svg>');
            animation: bottomToTop 1s 0.8s forwards ease-in-out;
        }
    }

    .intro-txt {
        @include font-32(700);
        line-height: 2em;
        color: #fff;
    }
}

.sub-layout {
    @include flexBox();
}

.content-box {
    width: 100%;
    height: 40rem;
    border-radius: 1.6rem;

    .link-box {
        @include flexBox();
        width: 100%;
        height: 100%;
        &:hover {
            transform: scale(1.1);
            transition: transform 0.4s ease-in;
        }
    }

    .box-title {
        @include font-24(700);
        color: #fff;
    }

    &.career {
        background-color: $orange-5;
    }
}