<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴포넌트 페이지</title>
    
</head>

<body>

    <!-- header -->
    <header class="main-header">
        <h1 class="logo">컴포넌트</h1>
    </header>
    <!--// header -->

    <!-- main -->
    <main class="main-layout">
        <section class="main-section">
            <div class="content-box-wrap">
                <article class="content-box red">
                    <p class="box-txt">
                        <i class="emoji greeting-hand">👋</i>
                        <span class="content-name hello">HELLO WORLD</span>
                    </p>
                </article>
                <article class="content-box green">
                    <a href="./button.html" class="box-txt">
                        <i class="emoji walking-man">🏃</i>
                        <span class="content-name">Button</span>
                    </a>
                </article>
            </div>
            <article class="content-box lg orange">
                <a href="./pages/main/about.html" class="box-txt">
                    <i class="emoji">🔍</i>
                    <span class="content-name">ABOUT</span>
                </a>
                <!-- 안녕하세요 저는 퍼블리셔 차민우 입니다
                컴포넌트화에 관심이 있으며 
                나가아 뷰랑 앱 쪽에 관심이 있어 학습하고 있습니다
                단순히 최신 기술을 공부하기 보다 실무의 문제점을 
                해결하는 것에 관심이 있습니다>????
                그 기술로 해결을 하는것에 관심이 있습니다 ??₩
                그냥 취미랑 머 그런거 / 자기소개들을 안에 컨텐츠로 넣고
                밖에 보이는 부븐은 이모지 ? 남자랑 취미 같은거 보여주는 형식으로
                전체적인 컨셉은 이모지 ? -->
            </article>
        </section>
        
    
    <section class="main-section">
        <article class="content-box sm blue">
            <a href="./pages/main/pages.html" class="box-txt">
                <i class="emoji">📑</i>
                <span class="content-name">PAGES</span>
            </a>
            </article>
            <article class="content-box sm yellow">
                <a href="" class="box-txt">
                    <i class="emoji">🌈</i>
                    <span class="content-name">PLAYGROUND</span>
                </a>
            </article>
            <article class="content-box md gray">
                <a href="./pages/components/" class="box-txt">
                    <i class="emoji">⚙️</i>
                    <span class="content-name">COMPONENTS</span>
                </a>
            </article>
        </section>
    </main>
    <!--// main -->

    <!-- <script src="https://unpkg.com/hangul-js"></script>
    <script src="https://unpkg.com/type-hangul@latest/dist/type-hangul.min.js"></script> -->
    <script src="./asset/scripts/main.js"></script>
</body>

</html>