<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴포넌트 페이지</title>
    <link rel="stylesheet" href="../../asset/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back" />
</head>

<body>

    <!-- header -->
    <header class="main-header">
        <h1 class="main-title">Components</h1>
        <a href="../../index.html" role="button" class="btn-icon btn-back">
            <span class="material-symbols-outlined">arrow_back</span>
        </a>
    </header>
    <!--// header -->

    <!-- main -->
    <main class="main-layout">
        <section class="main-section">
            <div class="content-box-wrap">
                <article class="content-box green">
                    <a href="./button.html" class="box-txt">
                        <span class="content-name hello">Button</span>
                    </a>
                </article>
                <article class="content-box gray">
                    <a href="#void" class="box-txt">
                        <span class="content-name">Badge</span>
                    </a>
                </article>
            </div>
            <article class="content-box blue">
                <a href="#void" class="box-txt">
                    <span class="content-name">TBD</span>
                </a>
            </article>
        </section>
        
    
    <section class="main-section">
        <article class="content-box blue">
            <a href="#void" class="box-txt">
                <span class="content-name">TBD</span>
            </a>
            </article>
            <article class="content-box yellow">
                <a href="#void" class="box-txt">
                    <span class="content-name">TBD</span>
                </a>
            </article>
            <article class="content-box red">
                <a href="#void" class="box-txt">
                    <span class="content-name">TBD</span>
                </a>
            </article>
        </section>
    </main>
    <!--// main -->

    <!-- <script src="https://unpkg.com/hangul-js"></script>
    <script src="https://unpkg.com/type-hangul@latest/dist/type-hangul.min.js"></script> -->
    <script src="../../asset/scripts/main.js"></script>
</body>

</html>